@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "Open Sans";
    src: url("../fonts/opensans.woff") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
    font-weight: 700;
    font-family: "Open Sans";
    font-style: normal;
    src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

@font-face {
    font-weight: 300;
    font-family: "Open Sans";
    font-style: normal;
    src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

body {
    font-family: Open Sans, sans-serif;
    color: darkslategrey;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    background: linear-gradient(0deg,#ece9e6,#fff);
}

img {
    max-width: 100%;
    height: auto;
}

.container {
     width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

.clear-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.no-js {
}

.mobile-hidden {
  display: none;   
}

.temp {
    background: white;
}
.temp h1 {
    text-align: center;
    font-size: 50px;
}
.temp h2 {
    text-align: center;
    font-size: 40px;
}

/* ----MEDIA---- */

@media screen and (min-width: 762px) {
    .container {
        width: 720px;
    }
    
    .mobile-hidden {
  display: block;   
}
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}