.intro h1 {
    font-size: 25px;
}

.intro h2 {
    font-size: 19px;
}

.intro p {
    font-size: 13px;
    line-height: 18px;
}




@media (min-width: 1200px) {

    
    .intro h1 {
        font-size: 2em;
}
    .intro h2 {
        font-size: 1.5em;
        line-height: 37px;
    }
    .rus .intro h2 {
        line-height: 40px;
    }
    
    .intro p {
    font-size: 18px;
        line-height: 30px;
}
}
