.main-nav {
    display: none;
}

.main-nav__toggle {
    width: 22px;
    height: 23px;
    margin-left: 158px;
}

@media (min-width: 660px) {
    .main-nav {
        display: inline-block;
        margin-top: 75px;
    }
    .main-nav li {
        display: inline-block;
        margin-right: 34px;
    }
    .main-nav a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    .main-nav__toggle {
        display: none;
    }
}

@media (min-width: 1200px) {
    .main-nav li {
        display: inline-block;
        margin-right: 51px;
    }
}
