.page-footer {
        background: linear-gradient(270deg,#00d2ff,#3a7bd5);
        padding-top: 50px;
}

.page-footer__contacts img {
    vertical-align: middle;
    width: 37px;
    margin-right: 10px;
}


.page-footer__contacts {
        padding-top: 20px;
    margin-left: 194px;
    width: 119px;
}

.page-footer__contacts li {
   margin-top: 15px;
}

.page-footer__contacts a {
    opacity: 0.9;
}

.page-footer__contacts a:hover {
    opacity: 0.7;
}

.page-footer__contacts a:active {
    opacity: 1;
}



.page-footer__photo {
    max-width: 240px;
    max-height: 240px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0 auto;
}

.page-footer__copyright {
    padding-top: 80px;
    padding-bottom: 20px;
    margin-top: 50px;
    display: block;
    margin: 0 auto;
    width: 160px;
}

.page-footer__copyright a  {
    opacity: 0,9;
    color: #22313f;
}

.page-footer__copyright a:hover {
    opacity: 0.7;
    text-decoration: underline;
}

.page-footer__copyright a:active {
    opacity: 1;
}