.works h2 {
    text-transform: uppercase;
}

.works__item p {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 42px;
}

.works__item {
    background: white;
}

.works a {
    opacity: 0.95;
}

.works a img:hover {
    opacity: 0.9;
}

.works a:active {
    opacity: 1;
}

.works a:active img {
    opacity: 1;
}

.works__item--sapphirine {
    background: #022A4C;
}

.works__item--blue {
    background: #81b3d2;
}

.works__item--dark {
    background: #32425c;
}

.works__item h2 {
    padding-top: 0;
    margin-top: 10px;
    margin-bottom: 11px;
}

.works__item:nth-child(2) img {
    margin-top: 15px;
}

.works__wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 195px;
    justify-content: space-around;
    align-items: center;
}

.works__wrapper div {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works img {
    max-width: 260px;
    border: 2px solid white;
}

.works__wrapper {
    color: aliceblue;
}

.works__wrapper--even {
    color: #22313f;
}

.works__wrapper--even .btn {
    color: #22313f;
}

@media screen and (min-width: 762px) {

    .works img {
        max-width: 320px;
    }
    .works__wrapper {
    height: 230px;
}
}

@media (min-width: 1200px) { 
   .works__item h2 {
    font-size: 30px;
}
    .works__item p {
     font-size: 20px;
}
    .works__wrapper {
    height: 330px;
       width: 890px;
}
    .works img {
    max-width: 435px;
    /* max-width: 545px; */
}
.works__item p {
    font-size: 24px;
    padding-top: 0;
    margin-top: 7px;
    margin-bottom: 42px;
}
        
}


